
VALIDATOR ...

https://jigsaw.w3.org/css-validator/#validate_by_input

___________________________________________________________________________________________

COLOR MIXE SITE ...

http://www.css3maker.com/css-3-rgba.html

____________________________________________________________________________________________

RESET ERIC MEYER ...


/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

_______________________________________________________________________________________________

* {
	box-sizing: border-box;
}
_______________________________________________________________________________________________

MIDDLE POSITION ...

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
_______________________________________________________________________________________________

CONTACT LOGOS MIDDLE ...

/* Contact links */

ul {
  list-style-type: none;
}

li {
  display: inline;
}
_______________________________________________________________________________________________

BOX SHADOW ...

box-shadow: h-shadow v-shadow [blur] [spread] color;

_______________________________________________________________________________________________

INTERACTION ...

img:hover {
  transform: scale(1.1);
}
_______________________________________________________________________________________________



